<h1>Legal Advice Q&amp;A Board</h1>

<p>
  Ask legal questions and receive paid advice from legal professionals.
</p>

<p>
  <%= button_to "Submit a legal question", new_question_path, method: :get %>
</p>

<h2>Your recent questions</h2>

<%= turbo_frame_tag "my_questions" do %>
  <% if @my_questions.any? %>
    <ul>
      <% @my_questions.each do |question| %>
        <%= render "question", question: question, dom_id_prefix: :my %>
      <% end %>
    </ul>
  <% else %>
    <p>You have not submitted any questions yet.</p>
  <% end %>
<% end %>
