<h1>Open questions</h1>

<% if @questions.any? %>
  <ul>
    <%= render partial: "lawyer/questions/question", collection: @questions, as: :question %>
  </ul>
<% else %>
  <p>No open questions.</p>
<% end %>